# Much taken from https://github.com/Ezibenroc/PyRoaringBitMap/blob/master/.github/workflows/main.yml
name: test memory_allocator

on:
    pull_request:
        types: [opened, synchronize]
    push:
        tags:
            - '*'
        branches:
            - main

jobs:
    build:
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                python-version: ['3.12', '3.13', '3.14']
        steps:
        - name: Set up the repository
          uses: actions/checkout@v4
          with:
              submodules: recursive
              fetch-depth: 0
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: ${{ matrix.python-version }}
        - name: Build
          run: |
              python -m pip install --upgrade pip
              python -m pip install .
        - name: Test
          run: |
              python test.py
